{% load static %}
{% load crispy_forms_tags %}
{% load compress %}

<html>
<head>
	<meta charset="utf-8">
	<meta content="width=device-width,initial-sclae=1,shrink-to-fit=no"
	>
	<title>
		{% block title %}{% endblock title %}
	</title>
	<link rel="shortcut icon" type="image/ico" href='{% static "images/logo.ico" %}'/>
</head>
<header>

	{% comment %} <link rel="icon" href={% static 'images/logo.ico' %} type="image/ico"/> {% endcomment %}
	{% compress css %}
		<link rel="stylesheet" href={% static 'css/bootstrap-rtl.min.css' %}>
		<link rel="stylesheet" href={% static 'fonts/fontawesome-free-5.8.1-web/css/all.css' %}>
		<link rel="stylesheet" href={% static 'css/aos.css' %}/>
		<link rel="stylesheet" href={% static 'MDB/css/mdb.css' %}/>
		<style>
			footer a:hover {
				color: rgb(0, 176, 189);
			!important;
			}

			nav div ul li a:hover {
				color: rgb(0, 176, 189);
			!important;
			}
		</style>
	{% endcompress %}
	<style>
		@font-face {
			font-family: 'yekan';
		{% comment %} {% static 'fonts/BYekan.woff' %} {% endcomment %}
			src: url({% static "fonts/BYekan.eot?#" %}) format('eot'),
			url({% static 'fonts/BYekan.woff' %}) format('woff'),
			url({% static 'fonts/BYekan.ttf' %}) format('truetype');
		}

		.rtl {
			font-family: 'yekan';
		}

	</style>

	{% compress js %}
		<script src= {% static 'js/bootstrap.min.js' %}></script>
		<script src= {% static "js/jquery-2.2.4.min.js" %}></script>
		{% comment %} /                   static/admin/jquery.ui.datepicker.jalali/scripts/jquery.ui.core.js  {% endcomment %}
		{% comment %} admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css {% endcomment %}
		{% comment %} <script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
    <link rel="stylesheet" href={% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}> {% endcomment %}
		{% comment %} <script src={% static 'css/material.css' %}></script> {% endcomment %}
		{% comment %} <link rel="stylesheet" href={% static 'css/material.css' %}> {% endcomment %}
		<script src={% static 'js/aos.js' %}></script>

		<script src={% static 'MDB/js/mdb.js' %}></script>
		<script src={% static 'js/scrollme.js' %}></script>
	{% endcompress %}



	{% block head %} {% endblock head %}

</header>
<body class='rtl'>
{% block header %} {% endblock header %}
{% block content %}
{% endblock content %}
{% block footer %} {% endblock footer %}

</body>
</html>
