{% load static %}
{% load crispy_forms_tags %}

<html>
<header>
  <link rel="stylesheet" href="{% static 'css/bootstrap-rtl.min.css' %}">
  <script src="{% static 'js/bootstrap.min.js' %}"></script>   
<style>
@font-face {
    font-family: 'yekan';
    {% comment %} {% static 'fonts/BYekan.woff' %} {% endcomment %}
    src:url({% static "fonts/BYekan.eot?#" %}) format('eot'),    
          url({% static 'fonts/BYekan.woff' %}) format('woff'),
          url({% static 'fonts/BYekan.ttf' %}) format('truetype'); 
    }
    .rtl {
    font-family: 'yekan';
    }
</style>

    <meta charset="utf-8">
    <meta content="width=device-width,initial-sclae=1,shrink-to-fit=no"
          name="viewport">
    <title>
    {% block title %}{% endblock title %}
     </title>
    {% block head %} {% endblock head %}

</header>
<body class='rtl'>
            {% block header %} {% endblock header %}
            {% block content %}
            {% endblock content %}
            {% block footer %} {% endblock footer %}

</body>
</html>
