
{% extends 'Dashboard/panel.html' %}
{% load jformat %}
{% load jalali_tags %}
{% load static %}
{% load crispy_forms_tags %}
{% block form_title %}
دوره‌ها
<a href={% url 'create_course' %}  class='btn btn-primary btn-circle'> + </a>

{% endblock form_title %}
{% block form %}
 {% comment %} {{ form.media }} {% endcomment %}
{% comment %} <a href = {% url 'update_course' %} class='btn btn-primary'>ویرایش</a> {% endcomment %}
<style>
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
</style>
{% if posts %}
<td>
  <div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>عنوان</th>
        <th>قالب</th>
        <th>مخاطب</th>
        <th>سطح علمی</th>
        <th>دسته بندی</th>
        <th>تاریخ انتشار</th>
        <th>عملیات</th>
      </tr>
    </thead>
    <tbody>
     
  {% for post in posts %}
<tr>
        <td>{{post.title}}</td>
        <td>{{post.formatted}}</td>
        <td>{{post.audience}}</td>
        <td>{{post.scientific_level}}</td>
        <td>{{post.category.name_persian}}</td>
        <td>{{post.pub_date|jformat:"%Y %a %d %B - %H:%M"}}</td>
        <td>
        <a href = {% url 'all_course_session' course=post.slug %} class='btn btn-primary'>لیست جلسات</a>
        <a href = {% url 'update_course' slug=post.slug %} class='btn btn-warning'>ویرایش</a>
        
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal_{{post.id}}">حذف</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal_{{post.id}}" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">حذف مقاله</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>         
        </div>
        <div class="modal-body">
          آیا مطمین هستید که می خواهید مقاله 
          <b>{{post.title}} </b> 
          را حذف نمایید؟
        </div>
        <div class="modal-footer">
          <a href={% url 'delete_course' slug=post.slug %} type="button" class="btn btn-danger" >حذف </a>
          <button type="button" class="btn btn-primary" data-dismiss="modal">لغو </button>

        </div>
        
      </div>
      </div>
    </div>
  
        </td>

        </tr>

  {% endfor %}
    </tbody>
  </table>
</div>



{% include "ContentManage/gadget/pagination.html" %}

{% else %}
    <div class='text-center'>  هنوز دوره ای ثبت نگردیده است.</div>

{% endif %}
{% endblock form %}