.blue_background{
background-color: rgb(0, 176, 189,.3);
}

.block_background{
        padding-top: 2rem;
        padding-bottom: 2rem;
}

a:hover{
  color: rgb(0, 176, 189);
  text-decoration: none;
  }


  .scrollToTop{
    width:40px;
    height: 40px;
    position:fixed;
    left:30px;
    bottom:30px;
    display:none;
}
    .bkg{

      background:
  linear-gradient(141deg, rgb(0,0,0,1), rgb(0,0,0,.5), rgb(0,0,0,0));
  }
  