
        .inner{
          height: 12vw;
          width:12vw;
          position: absolute;
          background-color:  rgb(0, 176, 189,.5);
        }
        .inner-tile{
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size:2rem;
  }
        .tile-bg{
          text-align:center;
            background-image: url(/static/images/header_back.jpg) !important;
            /* max-height: 100%;
            max-width: 100%; */
            background-repeat: no-repeat;
            background-size: cover;
            height: auto;
<!--            padding-top: 2rem;-->
<!--            padding-bottom: 2rem;-->
  position: relative;

            /* margin-bottom: 2rem; */
        }
        .tile{
            /* background-color: rgb(0, 255, 149); */

            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
            padding-top: 0px;
            margin: 0px;
            /* padding:  0px 0px 0px 0px !important; */
        }
        .col-md-3>div {
            
            height: 20% !important;
            padding-top: 100%;
        }
        .on {

        background-color:  rgb(0, 176, 189,.5);

        /* border: 1px; */
        border-style: solid;
        border-width: 1px;

    }
    .grid-container {
      
  display: grid;
  align-text:center;
  padding-left: 20%;
  padding-right: 20%;

  grid-template-columns: 10rem 10rem 10rem 10rem;
    grid-template-rows: 10rem 10rem 10rem;

  margin: 0;


}
.left-blank{
     grid-column: 1;
   grid-row: 1 / 4;
}

.right-blank{
     grid-column: 6;
   grid-row: 1 / 4;
}
.grid-item {

  border: 1px solid rgba(0, 0, 0, 0.8);
  margin:2px;
  text-align: center;
  position: relative;

  color: black;
  font-size:2rem;
  background-color:  rgb(0, 176, 189,.5);

}
.inner-tile{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
.off{
visibility: hidden;}
        .inner{
              position: relative;

          height: 2rem;
          width:2rem;
          position: absolute;
        }



  