{% extends 'Dashboard/panel.html' %}
{% load jformat %}
{% load crispy_forms_tags %}
{% block form_title %}
صفحه اصلی
{% endblock form_title %}
{% block form %}
 <style>
.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
}

.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}
.btn{
  margin-right: 1rem;
  margin-bottom: 1rem;
}

</style>

    <div class="container" >
      {% comment %} <div class="row">
        <div class="col-lg-12">
          <p>
            
          </p>
        </div> {% endcomment %}
	{% comment %} </div> {% endcomment %}
<div class="row">
  <a href={% url 'create_article' %} class="btn btn-sq-lg btn-info">
    <i class="far fa-file fa-5x"></i>
    <br> مقاله جدید </br>
  </a>

  <a href={% url 'create_news' %} class="btn btn-sq-lg btn-info">
    <i class="fas fa-newspaper fa-5x"></i>
    <br>اخبار جدید </br>
  </a>
  
  <a href={% url 'create_course' %} class="btn btn-sq-lg btn-info">
    <i class="fas fa-chalkboard-teacher fa-5x"></i>
    <br>دوره جدید </br>
  </a>
  <a href={% url 'create_poster' %} class="btn btn-sq-lg btn-info">
    <i class="fas fa-image fa-5x"></i>
    <br/>پوستر جدید <br>
  </a>

  <a href={% url 'create_video' %} class="btn btn-sq-lg btn-info">
    <i class="fas fa-video fa-5x"></i>
    <br/>
    ویدیو جدید <br>
  </a>

  <a href={% url 'create_published' %} class="btn btn-sq-lg btn-info">
    <i class="fas fa-book fa-5x"></i>
    <br/>
    انتشارات و پژوهش ها جدید <br>
  </a>
  </div>
  </div>
{% endblock form %}