      {% load static %}
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href={% url 'home' %}><img src="{% static 'images/logo.png'%}" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu"> 
                            <li class="active">
                                <a href="javascript:void(0)" aria-expanded="true"><i class="fab fa-buromobelexperte"></i><span>دسته بندی ها</span></a>
                                <ul class="collapse">
                                    <li class="active"><a href={% url 'all_article' %}><i class="far fa-file"></i><span>مقاله</span></a></li>
                                    <li><a href={% url 'all_news'      %}><i class="fas fa-newspaper"         ></i><span>اخبار</span></a></li>
                                    <li><a href={% url 'all_poster'    %}><i class="fas fa-image"             ></i><span>پوسترها</span></a></li>
                                    <li><a href={% url 'all_video'     %}><i class="fas fa-video"             ></i><span>ویدیوها</span></a></li>
                                    <li><a href={% url 'all_course'    %}><i class="fas fa-chalkboard-teacher"></i><span>دوره‌ها</span></a></li>
                                    <li><a href={% url 'all_published' %}><i class="fas fa-book"              ></i><span>انتشارات و پژوهش ها</span></a></li>
                                </ul>
                            </li>
                            <li class="active">
                                <a href="javascript:void(0)" aria-expanded="False"><i class="fas fa-cog"></i><span>تنظیمات</span></a>
                                <ul class="collapse">
                                    <li class="active"><a href="index.html"><i class="fas fa-users-cog"></i><span>پروفایل</span></a></li>
                                </ul>
                            </li>
                            <li class="active">
                                <a href="javascript:void(0)" aria-expanded="False"><i class="fas fa-chart-line"></i><span>آمار</span></a>
                                <ul class="collapse">
                                    <li class="active"><a href="index.html">پنل آمار</a></li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>