.blue_background{
background-color: rgba(0, 176, 189,.3);
}

.block_background{
        /*padding-top: 2rem;*/
        /*padding-bottom: 2rem;*/
}

a:hover{
  color: rgb(0, 176, 189);
  text-decoration: none;
  }
