{% extends "blog/main/blog_base.html" %}
{% load static %}

{% load jformat %}

{% block title %}
	موازی بلاگ
{% endblock title %}
{% comment %} {% block head %}
  <link href={% static 'css/blog-home.css' %} rel="stylesheet">
    <script src={% static 'vendor/jquery/jquery.min.js' %}></script>
  <script src={% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}></script>
{% endblock head %} {% endcomment %}
<!-- Bootstrap core CSS -->
{% comment %} <link href={% static 'css/bootstrap.min.css' %} rel="stylesheet"> {% endcomment %}

<!-- Custom styles for this template -->

{% block blog %}


	<!-- Page Content -->
	<div class="container">

		<div class="row" styles='background-color: lightblue;'>


			<div class='col-{{ w | default:"12" }}'>
				<div class="card mb-4">
					{% comment %} <img class="card-img-top" src="{% static 'images/750x300.png' %}" alt="Card image cap"> {% endcomment %}
					{#					<img class="card-img-top" src=" {{ post.image_index.url }}" alt="Card image cap">#}
					<div class="card-body">
						<h2 class="card-title">{{ post.title }}</h2>

						<div class="card-body">
							<div class="row">
								<div class="col-6">
									<div class="row"><img class="card-img-top" src=" {{ post.image_index.url }}" alt="Card image cap"></div>


								</div>
								<div class="col-6">
									<div class="row" style="padding-top: 2rem;">
										<div class="col-6">
											<p><i class="far fa-edit"></i> <strong> عنوان:</strong>{{ post.title }}</p>
											<p><i class="far fa-edit"></i> <strong>زیرعنوان:</strong> {{ post.subtitle }}</p>

										</div>
										<div class="col-6">
											<p><i class="far fa-edit"></i> <strong>سخنران:</strong> {{ post.speaker }}</p>
											<p><i class="far fa-edit"></i> <strong>زمان:</strong> {{ post.time }}</p>

										</div>

									</div>
									<div class="row">

										<div class="col-1"></div>
										<div class="col-10">
											<hr>
											<style>
												div p {
													text-align: justify;
													text-justify: inter-word;
												}
											</style>
											<div class="row" style="padding-top: 2rem;"><p class="align-justify"><i class="far fa-edit"></i><strong>خلاصه:</strong>
												{{ post.summery }}</p>
											</div>
											<hr>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-1"></div>
								<div class="col-10">
									{#									<div class="h_iframe-aparat_embed_frame"><span style="display: block;padding-top: 2rem;width:100%;   "></span>#}
									{#										<iframe src="https://www.aparat.com/video/video/embed/videohash/kXjI7/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>#}
									{#									</div>#}
									{#									<#}
									<div class="row-container">
										<div class="first-row ">
										</div>
										<style>
											body, html {
												width: 100%;
												height: 100%;
												margin: 0;
												padding: 0
											}

											.row-container {
												display: flex;
												width: 100%;
												height: 100%;
												flex-direction: column;
											{#background-color: blue;#} overflow: hidden;
											}

											.first-row {
											{#background-color: lime;#} padding-top: 2rem;
											}

											.second-row {
												flex-grow: 1;
												border: none;
												margin: 0;
												padding: 0;
											}
										</style>
										<iframe width: 100% height: 100% src="https://www.aparat.com/video/video/embed/videohash/kXjI7/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
									</div>
								</div>
								<div class="col-1"></div>

							</div>
						</div>

					</div>
					<td>

						<div class="card-footer text-muted">
							{{ post.author_id }}
							-
							{{ post.pub_date }}
						</div>
				</div>
			</div>
		</div>


	</div>






{% endblock blog %}
