{% extends "blog/main/blog_base.html" %}
{% load static %}

{% load jformat %}

{% block title %}
	موازی بلاگ
{% endblock title %}

{% block blog %}


	<!-- Page Content -->
	<div class="container">

		<div class="row" styles='background-color: lightblue;'>


			<div class='col-{{ w | default:"12" }}'>
				<div class="card mb-4">
					<h2 class="card-title">{{ post.title }}</h2>

					{% comment %} <img class="card-img-top" src="{% static 'images/750x300.png' %}" alt="Card image cap"> {% endcomment %}
					{#					<img class="card-img-top" src=" {{ post.image_index.url }}" alt="Card image cap">#}

					<div class="card-body">
						<div class="row">
							<div class="col-6">
								<div class="row"><img class="card-img-top" src=" {{ post.image_index.url }}" alt="Card image cap"></div>
								<div class="row"><p class="fa-align-justify"><i class="far fa-edit"></i> <strong>خلاصه:</strong>
									{{ post.summery }}</p>
								</div>


							</div>
							<div class="col-3">
								<p><i class="far fa-edit"></i> <strong> عنوان:</strong>{{ post.title }}</p>
								<p><i class="far fa-edit"></i> <strong>زیرعنوان:</strong> {{ post.subtitle }}</p>
								<p><i class="far fa-edit"></i> <strong>سخنران:</strong> {{ post.speaker }}</p>
								<p><i class="far fa-edit"></i> <strong>تعداد جلسات:</strong> {{ post.session }}</p>
								<p><i class="far fa-edit"></i> <strong>محل برگزاری:</strong> {{ post.holding_loc }}</p>

							</div>
							<div class="col-3">
								<p><i class="far fa-edit"></i> <strong>زمان برگزاری:</strong> {{ post.holding_date }}</p>
								<p><i class="far fa-edit"></i> <strong>مخاطبین:</strong> {{ post.audience }}</p>
								<p><i class="far fa-edit"></i> <strong>سطح علمی:</strong> {{ post.scientific_level }}</p>
								<p><i class="far fa-edit"></i> <strong>پیش‌نیازها:</strong> {{ post.prerequisite }}</p>

							</div>

						</div>
						{% comment %} <a href="#" class="btn btn-primary">بیشتر بخوانید... </a> {% endcomment %}
					</div>
					<td>
						<div class="container">
							<table class="table table-striped">
								<thead>
								<tr>
									<th>عنوان</th>
									<th>سخنران</th>
									<th>دسته بندی</th>
									<th>تاریخ انتشار</th>
									<th>عملیات</th>
								</tr>
								</thead>
								<tbody>

								{% for session in sessions %}
									<tr>
										<td>{{ session.title }}</td>
										<td>{{ session.speaker }}</td>
										<td>{{ session.category.name_persian }}</td>
										<td>{{ session.pub_date|jformat:"%Y " }}</td>
										<td><a class='btn btn-primary' href={% url 'course_session_single' course=post.slug session=session.slug %}>مشاهده</a></td>


									</tr>

								{% endfor %}
								</tbody>
							</table>
						</div>

						<div class="card-footer text-muted">
							{{ post.author_id }}
							-
							{{ post.pub_date }}
						</div>
				</div>
			</div>
		</div>


	</div>






{% endblock blog %}
