{% extends "blog/main/blog_base.html" %}
{% load static %}

{% load jformat %}

{% block title %}
	موازی بلاگ
{% endblock title %}

{% block blog %}


	<!-- Page Content -->
	<div class="container">

		<div class="row" styles='background-color: lightblue;'>


			<div class='col-{{ w | default:"12" }}'>
				<div class="card mb-4">

					{% comment %} <img class="card-img-top" src="{% static 'images/750x300.png' %}" alt="Card image cap"> {% endcomment %}
					{#					<img class="card-img-top" src=" {{ post.image_index.url }}" alt="Card image cap">#}

					<div class="card-body">
						<h2 class="card-title">{{ post.title }}</h2>

						{#						<div class="row">#}
						{#							<div class="col-6">#}
						{#								<div class="row"><img class="card-img-top" src=" {{ post.image_index.url }}" alt="Card image cap"></div>#}
						{#						<div class="row" style="padding-top: 2rem;"><p class="fa-align-justify"><i class="far fa-edit"></i> <strong>خلاصه:</strong>#}
						{#							{{ post.summery }}</p>#}
						{#						</div>#}
						{##}
						{##}
						{#							</div>#}
						{#							<div class="col-6">#}

						{#							</div>#}
						{#						</div>#}
						{% comment %} <a href="#" class="btn btn-primary">بیشتر بخوانید... </a> {% endcomment %}
						<div class="row">
							<div class="col-2"></div>
							<div class="col-8"><img class="card-img-top" src=" {{ post.image_index.url }}" alt="Card image cap"></div>
							<div class="col-2"></div>
							<div class="col-1"></div>
							<div class="col-10">
								<hr style="padding-top:2rem; ">
								<div class="row">
									<div class="col-4">
										<p><i class="far fa-edit"></i> <strong> عنوان:</strong>{{ post.title }}</p>
										<p><i class="far fa-edit"></i> <strong>زیرعنوان:</strong> {{ post.subtitle }}</p>
										<p><i class="far fa-edit"></i> <strong>سخنران:</strong> {{ post.speaker }}</p>


									</div>
									<div class="col-4">
										<p><i class="far fa-edit"></i> <strong>تعداد جلسات:</strong> {{ post.session }}</p>
										<p><i class="far fa-edit"></i> <strong>محل برگزاری:</strong> {{ post.holding_loc }}</p>
										<p><i class="far fa-edit"></i> <strong>زمان:</strong> {{ post.holding_date }}</p>

									</div>
									<div class="col-4">
										<p><i class="far fa-edit"></i> <strong>مخاطبین:</strong> {{ post.audience }}</p>
										<p><i class="far fa-edit"></i> <strong>سطح علمی:</strong> {{ post.scientific_level }}</p>
										<p><i class="far fa-edit"></i> <strong>پیش‌نیازها:</strong> {{ post.prerequisite }}</p>

									</div>
								</div>
								<hr>
								<style>
									div p {
										text-align: justify;
										text-justify: inter-word;
									}
								</style>
								<div class="row" style="padding-top: 2rem;"><p><i class="far fa-edit"></i> <strong>خلاصه:</strong>
									{{ post.summery }}</p>
								</div>
								<hr>
							</div>

						</div>

					</div>
					<td>
						<div class="container">
							<table class="table table-striped">
								<thead>
								<tr>
									<th>عنوان</th>
									<th>سخنران</th>
									<th>دسته بندی</th>
									<th>تاریخ انتشار</th>
									<th>عملیات</th>
								</tr>
								</thead>
								<tbody>

								{% for session in sessions %}
									<tr>
										<td>{{ session.title }}</td>
										<td>{{ session.speaker }}</td>
										<td>{{ session.category.name_persian }}</td>
										<td>{{ session.pub_date|jformat:"%Y " }}</td>
										<td><a class='btn btn-primary' href={% url 'course_session_single' course=post.slug session=session.slug %}>مشاهده</a></td>


									</tr>

								{% endfor %}
								</tbody>
							</table>
						</div>

						<div class="card-footer text-muted">
							{{ post.author_id }}
							-
							{{ post.pub_date }}
						</div>
				</div>
			</div>
		</div>


	</div>






{% endblock blog %}
