{% extends "blog/main/blog_base.html" %}

      <h1 class="my-4">
{{title}}

          {% comment %} <small>ترجمه و تالیف</small> {% endcomment %}
        </h1>

        <!-- Blog Post -->
{% block blog %}

{% load static %}

    {% for post in posts%}
    <div class='col-{{ w | default:"12" }}'>
        <div class="card mb-4">
          {% comment %} <img class="card-img-top" src="{% static 'images/750x300.png' %}" alt="Card image cap"> {% endcomment %}
          <img class="card-img-top" src= {{post.image.url}} alt="Card image cap">


          <div class="card-body">
            <h2 class="card-title">{{post.title}}</h2>
            <p class="card-text">
            {{post.summery}}
            </p>
            <a href="{{post.slug}}" class="btn btn-primary">بیشتر بخوانید... </a>
          </div>
          <div class="card-footer text-muted">
            {{post.author_id}}
            -
            {{post.pub_date}}
          </div>
        </div>
    </div>
    {% endfor %}

<div class="pagination justify-content-center">
    <span class="step-links">
        {% if posts.has_previous %}
            <a class='btn btn-primary' href="?page=1">&laquo; اول</a>
            <a class='btn btn-primary' href="?page={{ posts.previous_page_number }}">قبلی</a>
        {% endif %}

        <span class="current">
            صفحه {{ posts.number }} از {{ posts.paginator.num_pages }}
        </span>

        {% if posts.has_next %}
            <a class='btn btn-primary' href="?page={{ posts.next_page_number }}">بعدی</a>
            <a class='btn btn-primary' href="?page={{ posts.paginator.num_pages }}">آخرین &raquo;</a>
          {% comment %} {% else %}
            <a class='btn btn-primary disabled' href="?page={{ posts.next_page_number }}">بعدی</a>
            <a class='btn btn-primary disabled' href="?page={{ posts.paginator.num_pages }}">آخرین &raquo;</a> {% endcomment %}
        {% endif %}
    </span>
</div>
 
{% endblock blog %}
