{% extends "blog/main/blog_base.html" %}

      <h1 class="my-4">
{{title}}

          {% comment %} <small>ترجمه و تالیف</small> {% endcomment %}
        </h1>

        <!-- Blog Post -->
{% block blog %}

{% load static %}

    {% for post in posts%}
    <div class='col-{{ w | default:"12" }}'>
        <div class="card mb-4">
          {% comment %} <img class="card-img-top" src="{% static 'images/750x300.png' %}" alt="Card image cap"> {% endcomment %}
          <img class="card-img-top" src= {{post.image.url}} alt="Card image cap">


          <div class="card-body">
            <h2 class="card-title">{{post.title}}</h2>
            <p class="card-text">
            {{post.summery}}
            </p>
            <a href="{{post.slug}}" class="btn btn-primary">بیشتر بخوانید... </a>
          </div>
          <div class="card-footer text-muted">
          {% include "blog/gadget/author&date.html" %}
          </div>
        </div>
    </div>
    {% endfor %}
  {% include "blog/gadget/pagination.html" %} 
{% endblock blog %}
