<footer class="page-footer font-small unique-color-dark scrollme" style="padding-bottom: 2rem;">
	<div id="footer-top">

	</div><!-- Footer Links -->
	<div class="container text-center text-md-left mt-8">
		<div class="row py-4 d-flex align-items-center ">

		</div><!-- Grid row-->
		<!-- Grid row -->
		<div class="row mt-3">
			<!-- Grid column -->
			<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
				<!-- Content -->
				<h6 class="text-uppercase font-weight-bold">موسسه موازی</h6>
				<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
				    style="width: 60px;">
				<p style="text-align: justify; text-justify: inter-word;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
					از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
					سطرآنچنان که لازم است و برای شرایط فعلی
					تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
			</div><!-- Grid column -->
			<!-- Grid column -->
			<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
				<!-- Links -->
				<h6 class="text-uppercase font-weight-bold">کارگروه ها</h6>
				<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
				    style="width: 60px;">
				<p><a href="#">فیزیک</a></p>
				<p><a href="#">علوم زیستی</a></p>
				<p><a href="#">علوم شناختی</a></p>
				<p><a href="#">فلسفه</a></p>
			</div><!-- Grid column -->
			<!-- Grid column -->
			<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
				<!-- Links -->
				<h6 class="text-uppercase font-weight-bold">لینک های مفید</h6>
				<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
				    style="width: 60px;">
				<p><a href="http://mavajahan.com/" target="_blank">ما و جهان</a></p>
				<p><a href="http://www.irip.ir/" target="_blank">انجمن فلسفه و حکمت</a></p>
{#				<p><a href="#">Shipping Rates</a></p>#}
{#				<p><a href="#">Help</a></p>#}
			</div><!-- Grid column -->
			<!-- Grid column -->
			<div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">
				<!-- Links -->
				<h6 class="text-uppercase font-weight-bold">ارتباط با ما</h6>
				<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
				    style="width: 60px;">
				{#				<p class="footer-item">میدان هروی</p>#}
				{#				<p class="footer-item">movazi.info@gmail.com</p>#}
				{#				<p class="footer-item">۰۹۱۹۸۲۵۸۱۱۹</p>#}
				{#				<p class="footer-item">۰۲۱۲۲۹۳۰۰۳۴</p>#}
				<div class="col-md-10 col-lg-6 text-lg-right text-sm-center">
					<a class="social" href="https://t.me/mowazi_institute"><i class="fab fa-telegram fa-2x"></i></a>
					<a class="social" href="https://www.instagram.com/mowazi_institute/"><i
							class="fab fa-instagram fa-2x"></i></a>
					<a class="social" href="#"><i class="fab fa-youtube fa-2x"></i></a>
					<a class="social" href="#"><i class="fas fa-envelope fa-2x" style="color: #ffffff !important;"></i></a>
					{% comment %} <a class="social" href="#"><i class="fab fa-linkedin fa-3x"></i></a> {% endcomment %}
					{% comment %} <a class="btn-floating btn-lg btn-tw" type="button" role="button"><i class="fab fa-twitter"></i></a> {% endcomment %}
					{% comment %} <a class="btn-floating btn-lg btn-fb" type="button" role="button"><i class="fab fa-facebook-f"></i></a> {% endcomment %}
					{% comment %} <a class="btn-floating btn-lg btn-yt" type="button" role="button"><i class="fab fa-youtube"></i></a> {% endcomment %}
					{% comment %} <a class="btn-floating btn-lg btn-ins" type="button" role="button"><i class="fab fa-instagram"></i></a> {% endcomment %}


					<style>


						.social {
							margin-right: 1rem;
							color: #ffffff !important;
						}
					</style>
				</div><!-- Grid column -->

			</div><!-- Grid column -->
		</div><!-- Grid row -->
	</div><!-- Footer Links -->
	<!-- Copyright -->
	<div class="footer-copyright text-center py-3 footer-item">
		کلیه حقوق متعلق به موسسه
		<a class="footer-item" href="Movazi.info">موازی</a>
		می باشد.
	</div><!-- Copyright -->
	<style>
		.footer-item {
			color: rgb(#212529);
		}

		a {
			color: rgb(#212529);
		}

		footer {
			background-color: rgba(128, 130, 133, .5);

		}
	</style>
</footer><!-- Footer -->