{% load static %}

<title></title><!-- fixed-top -->
<!--=================== Menubar =====================-->
{% comment %} <nav class="navbar navbar-expand-lg navbar-dark primary-color sticky-top colorize">
    <a class="navbar-brand"
         href="#">
      <img src={% static "images/logo.png" %}
         style='width:10rem'></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
         id="navbarCollapse">
      <ul class="navbar-nav mr-auto mr-auto">
        <li class="navbar-item">
          <a class="nav-link"
              href="/"><span class="sr-only">خانه</span></a>
        </li>
        <li class="navbar-item">
          <a class="nav-link"
              href="/news">اخبار</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link"
              href="/article">وبلاگ</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link"
              href={% url 'course_pagination'  %}>دوره ها</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link"
              href={% url 'published_pagination'  %}>انتشارات و پژوهش ها</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link"
              href="/poster">پوسترها</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link"
              href="/video">ویدیو ها</a>
        </li>
        
        <li class="navbar-item">
          <a class="nav-link"
              href="#">کتابخانه</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link"
              href="#">شبکه دانش</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link"
              href={% url 'about_us' %}>درباره موازی</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link"
              href={% url 'contact_us' %}>ارتباط با موازی</a>
        </li>
      </ul>
          <form class="form-inline">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="جستجو" aria-label="Search">
      </div>
    </form>
    </div>

      </nav> {% endcomment %}


<!--Navbar-->
<ul class="navbar navbar-expand-lg navbar-dark sticky-top color-nav color-p" tabindex="200" id="{{ menu_name|default:"fixed_menu" }}">
	<style>
		.color-p {
		{#background: rgb(0, 0, 0);#} background: rgb(0, 40, 94) !important;
		{#background: linear-gradient(0deg, rgba(0, 0, 0, .75), #000) !important;#}
		}
	</style>
	<!-- Navbar brand -->
	<a class="navbar-brand"
	   href="/">
		<img src={% static "images/logo.png" %}
				     style='width:10rem'></a>
	<!-- Collapse button -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
	        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Collapsible content -->
	<div class="collapse navbar-collapse" id="basicExampleNav">
		<!-- Links -->
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/">خانه
					<span class="sr-only">(current)</span>
				</a>
			</li>
			{#			<li class="nav-item">#}
			{#				<a class="nav-link" href="/news">اخبار</a>#}
			{#			</li>#}
			{#			<li class="nav-item">#}
			{#				<a class="nav-link" href="/article">مقاله ‌ها </a>#}
			{#			</li>#}
			<li class="nav-item">
				<a class="nav-link" href={% url 'course_pagination' %}>دوره‌ها</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="http://lib.mowazi.ir/" target="_blank"> کتابخانه</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="#"> شبکه‌دانش<span class="badge badge-secondary">به زودی</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href={% url 'published_pagination' %}>انتشارات</a>
			</li>
			<!-- Dropdown -->
			<li class="nav-item">
				{#				<a href={% url 'poster_pagination' %} id="menu" data-toggle="dropdown" class="nav-link dropdown-toggle w-100">چندرسانه‌ای</a>#}
				<a class="nav-link" href={% url 'poster_pagination' %}>چندرسانه‌ای</a>
				{#				<ul class="dropdown-menu mt-2 rounded-0 border-0 z-depth-1 color-nav">#}
				{#					<li class="dropdown-item dropdown-submenu p-0 background">#}
				{#						<a href={% url 'poster_pagination' %} data-toggle="dropdown" class="text-white w-100 nav-link">پوستر </a>#}
				{#					</li>#}
				{#					<li class="dropdown-item dropdown-submenu background">#}
				{#						<a href={% url 'video_pagination' %} data-toggle="dropdown" class=" text-white w-100 nav-link">ویدیو </a>#}
				{##}
				{#					</li>#}
				{#				</ul>#}
			</li>
			<li class="nav-item">
				<a class="nav-link" href={% url 'about_us' %}>درباره موازی</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href={% url 'contact_us' %}>ارتباط با موازی</a>
			</li>
		</ul>
		<!-- Links -->
		<form class="form-inline">
			{% comment %} <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="جستجو" aria-label="Search">
      </div> {% endcomment %}
		</form>
	</div>
	<!-- Collapsible content -->
	{% if user.is_authenticated %}
		<a href={% url 'panel' %} class='btn purple-gradient btn-rounded btn-sm'>
		پنل کاربری
		</a>
	{% else %}
		<a href={% url 'login' %} class='btn purple-gradient btn-rounded btn-sm' >
		ورود
		</a>
	{% endif %}
</ul>
<style>
	#fixed_menu {
		margin-bottom: 0px !important;
	}

	.navbar-item {
		text-decoration-color: blue
	}

	.color-nav {
		opacity: 0.9;
		background: rgb(211, 211, 211);
	}

	.nav-item:hover {
		background: rgba(0, 180, 232, .5) !important;
	}

	#menubar .nav-link {
		color: rgb(255, 255, 255) !important;
	}

	{#.color-nav {#}
	{#	background: rgb(42,55,105) !important;#}
	{
	#}#}
</style>
<script>
    {#$(function () {#}
    {#    $(document).scroll(function () {#}
    {#        var $nav = $("#fixed_menu");#}
    {#        $nav.toggleClass('color-nav', $(this).scrollTop() > 100);#}
    {#    });#}
    {#})
    ;
    #}
</script>
<!--/.Navbar-->
