  {% load static %}

<title></title><!-- fixed-top -->
  <!--=================== Menubar =====================-->
  <nav class="navbar navbar-light bg-light navbar-expand-lg sticky-top colorize">
    <a class="navbar-brand"
         href="#">
      <img src={% static "images/logo.png" %}
         style='width:10rem'></a>
    <div class="collapse navbar-collapse"
         id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="navbar-item">
          <a class="nav-link"
              href="/">خانه</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link"
              href="/news">اخبار</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link"
              href="/article">وبلاگ</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link"
              href={% url 'course_pagination'  %}>دوره ها</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link"
              href={% url 'published_pagination'  %}>انتشارات و پژوهش ها</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link"
              href="/poster">پوسترها</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link"
              href="/video">ویدیو ها</a>
        </li>
        
        <li class="navbar-item">
          <a class="nav-link"
              href="#">کتابخانه</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link"
              href="#">شبکه دانش</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link"
              href={% url 'about_us' %}>درباره موازی</a>
        </li>
        <li class="navbar-item">
          <a class="nav-link"
              href={% url 'contact_us' %}>ارتباط با موازی</a>
        </li>
      </ul>
    </div>
    {% if user.is_authenticated %}
        <a href= {% url 'panel'  %} class='btn purple-gradient btn-rounded btn-sm'>پنل کاربری</a>
    {% else %}
        <a href={% url 'login' %} class='btn purple-gradient btn-rounded btn-sm'>ورود</a>
    {% endif %}
    <style>
        .navbar-item{
          text-decoration-color: blue
        }
        .colorize{
          opacity: 0.9;
        }
        ul .navbar-item:hover{
          background:rgba(0, 176, 189,.5) !important;
        }
    </style>
      </nav><!--=================== Tile Header =====================-->
      {% comment %} <script>
        var width = $(window).width();
        $(window).resize(function () {
            if (width <= 1000) {
                $('nav').addClass('navbar-light amber lighten-4 mb-4');
            }
        });
      </script> {% endcomment %}
