{% load static %}

 <div class="container-fluid block_background" id='section_cooperation'>
      <h2 class="text-center">همکاری</h2><br>
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-3 col-sm-6">
<!--            <img class="icon"-->
<!--                 src="{%static 'images/book.svg' %}">-->
            <i class="fas fa-university fa-5x"></i>
            <h5>موسسه اول</h5>
          </div>
          <div class="col-lg-3 col-sm-6">
<!--            <img class="icon"-->
<!--                 src="{%static 'images/book.svg' %}">-->
            <i class="fas fa-university fa-5x"></i>
            <h5>موسسه دوم</h5>
          </div>
          <div class="col-lg-3 col-sm-6">
<!--            <img class="icon"-->
<!--                 src="{%static 'images/book.svg' %}">-->
            <i class="fas fa-university fa-5x"></i>
            <h5>موسسه سوم</h5>
          </div>
          <div class="col-lg-3 col-sm-6">
<!--            <img class="icon"-->
<!--                 src="{%static 'images/book.svg' %}">-->
            <i class="fas fa-university fa-5x"></i>
            <h5>موسسه چهارم</h5>
          </div>
          <style>



          </style>
        </div>
      </div>
    </div><!-- Footer --> 