{% load static %}

 <div class="container-fluid" id='section_cooperation'>
      <h2 class="text-center">همکاری</h2><br>
      <div class="container">
        <div class="row text-center">
          <div class="col-3 a">
<!--            <img class="icon"-->
<!--                 src="{%static 'images/book.svg' %}">-->
            <i class="fas fa-university fa-5x"></i>
            <h5>موسسه اول</h5>
          </div>
          <div class="col-3">
<!--            <img class="icon"-->
<!--                 src="{%static 'images/book.svg' %}">-->
            <i class="fas fa-university fa-5x"></i>
            <h5>موسسه دوم</h5>
          </div>
          <div class="col-3">
<!--            <img class="icon"-->
<!--                 src="{%static 'images/book.svg' %}">-->
            <i class="fas fa-university fa-5x"></i>
            <h5>موسسه سوم</h5>
          </div>
          <div class="col-3">
<!--            <img class="icon"-->
<!--                 src="{%static 'images/book.svg' %}">-->
            <i class="fas fa-university fa-5x"></i>
            <h5>موسسه چهارم</h5>
          </div>
          <style>
            h5{
                margin-top: 1rem;
            }
          .icon{
            width:35% !important;
          }

          </style>
        </div>
      </div>
    </div><!-- Footer --> 