{% load static %}

 <div class="container-fluid">
      <h2 class="text-center">همکاری</h2><br>
      <div class="container">
        <div class="row text-center">
          <div class="col-3 a">
            <img class="icon"
                 src="{%static 'images/book.svg' %}">
            <h5>کتاب ها و پژوهش ها</h5>
          </div>
          <div class="col-3">
            <img class="icon"
                 src="{%static 'images/book.svg' %}">
            <h5>دوره ها</h5>
          </div>
          <div class="col-3">
            <img class="icon"
                 src="{%static 'images/book.svg' %}">
            <h5>همکاری ها</h5>
          </div>
          <div class="col-3">
            <img class="icon"
                 src="{%static 'images/book.svg' %}">
            <h5>ویدیو ها</h5>
          </div>
          <style>
            h5{
                margin-top: 1rem;
            }
          .icon{
            width:35% !important;
          }

          </style>
        </div>
      </div>
    </div><!-- Footer --> 