{% load static %}
<div class="container-fluid blue_background block_background" id='section_counter'>
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-3 col-sm-6">
<!--            <img class="icon"-->
<!--                 src="{%static 'images/book.svg' %}">-->
              <i class="fas fa-book-open fa-5x"></i>
                 <h5> 25</h5>
            <h5>کتاب ها و پژوهش ها</h5>
          </div>
          <div class="col-lg-3 col-sm-6">
<!--            <img class="icon"-->
<!--                 src="{%static 'images/write-board.svg' %}">-->
                 <i class="fas fa-chalkboard-teacher fa-5x"></i>
                 <h5> 10</h5>
            <h5>دوره ها</h5>
          </div>
          <div class="col-lg-3 col-sm-6">
<!--            <img class="icon"-->
<!--                 src="{%static 'images/handshake-1.svg' %}">-->
              <i class="fas fa-handshake fa-5x"></i>
                 <h5>5</h5>
            <h5>همکاری ها</h5>
          </div>
          <div class="col-lg-3 col-sm-6">
<!--            <img class="icon"-->
<!--                 src="{%static 'images/video-lecture.svg' %}">-->
              <i class="fas fa-video fa-5x"></i>
            <h5>24</h5>
            <h5>ویدیو ها</h5>
          </div>
          <style>
          h5{
              margin-top: 1rem;
          }
          .icon{
          width:35% !important;
          }

          </style>
        </div>
      </div>
    </div>