{% load static %}
<div class="container-fluid" id='section_counter'>
      <div class="container">
        <div class="row text-center">
          <div class="col-3 a">
            <img class="icon"
                 src="{%static 'images/book.svg' %}">
                 <h5> 25</h5>
            <h5>کتاب ها و پژوهش ها</h5>
          </div>
          <div class="col-3">
            <img class="icon"
                 src="{%static 'images/write-board.svg' %}">
                 <h5> 10</h5>
            <h5>دوره ها</h5>
          </div>
          <div class="col-3">
            <img class="icon"
                 src="{%static 'images/handshake-1.svg' %}">
                 <h5>5</h5>
            <h5>همکاری ها</h5>
          </div>
          <div class="col-3">
            <img class="icon"
                 src="{%static 'images/video-lecture.svg' %}">
            <h5>24</h5>
            <h5>ویدیو ها</h5>
          </div>
          <style>
          h5{
              margin-top: 1rem;
          }
          .icon{
          width:35% !important;
          }
          .counter{
          background-color: rgb(0, 176, 189,.3);
          padding-top: 2rem;
          padding-bottom: 2rem;
          }
          </style>
        </div>
      </div>
    </div>