<div class="container-fluid email">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-5">
          <p>با وارد کردن ایمیل خود از جدید رویدادهاو پژوهش ها با خبر شوید:</p>
        </div>
        <div class="col-4">
          <div class="input-group mb-3">
            <input class="form-control"
                 placeholder="ایمیل خود را وارد نمایید..."
                 type="text">
            <div class="input-group-append">
              <button class="btn btn-success"
                   type="submit">خبر بده</button>
            </div>
          </div>
        </div>
      </div>
      <style>
      .email{
        background-color: rgb(0, 176, 189,.3);        /* opacity: .3;\ */
        /* background-op */
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
      </style>
    </div>