 {% load static %}

 <div class="container-fluid multimedia" id='section_multimedia'>
      <div class="container"
           style="padding-bottom: 2rem">
        <h2 class="text-center">چندرسانه ای</h2><br>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs"
            role="tablist">
          <li class="nav-item">
            <a class="nav-link active"
                data-toggle="tab"
                href="#video">ویدیو کلیپ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
                data-toggle="tab"
                href="#poster">پوستر</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled"
                data-toggle="tab"
                href="#podcast">پادکست <span class="badge badge-secondary">به به زودی</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled"
                data-toggle="tab"
                href="#info">اینفوگرافی <span class="badge badge-secondary">به زودی</span></a>
          </li>
        </ul><!-- Tab panes -->
        <div class="tab-content">
          <div class="container tab-pane active"
               id="video">
            <br>
            <h3>ویدیو کلیپ</h3>
            <div class="row">
              <div class="col-6"><img alt="Cinque Terre"
                   class="rounded img-course"
                   src="{%static 'images/12967-NOLAUI.jpg' %}"></div>
              <div class="col-6">
                <div class="row">
                    {% for video in videos %}
                  <div class="col-6">
<!--                <img alt="تصویر ویدیو"-->
<!--                     class="card-img-bottom"-->
<!--                     src={{video.image.url}}-->
<!--                onerror="this.src='{%static "images/video_default.jpg" %}';"-->
<!--                >-->

                  </div>


<!--              <div class="col-3 img-course">-->
<!--                <div class="card">-->
<!--                <div class="card-body">-->
<!--                <h5 class="card-title">{{poster.title}}</h5>-->
<!--                <p class="card-text">{{poster.discription}}</p>-->
<!--                </div><img alt="Card image cap"-->
<!--                     class="card-img-bottom"-->
<!--                     src={{poster.image.url}}-->
<!--                onerror="this.src='{%static "images/poster_default.jpg" %}';"-->
<!--                ></div>-->
<!--              </div>-->

{% endfor %}

<!--                  <div class="col-6"><img alt="Cinque Terre"-->
<!--                       class="rounded img-course"-->
<!--                       src="{%static 'images/12967-NOLAUI.jpg' %}"></div>-->
<!--                  <div class="col-6"><img alt="Cinque Terre"-->
<!--                       class="rounded img-course"-->
<!--                       src="{%static 'images/12967-NOLAUI.jpg' %}"></div>-->
<!--                  <div class="col-6"><img alt="Cinque Terre"-->
<!--                       class="rounded img-course"-->
<!--                       src="{%static 'images/12967-NOLAUI.jpg' %}"></div>-->
<!--                  <div class="col-6"><img alt="Cinque Terre"-->
<!--                       class="rounded img-course"-->
<!--                       src="{%static 'images/12967-NOLAUI.jpg' %}"></div>-->
                </div>
              </div>
            </div>
            <style>
            .img-course{
                width: 100%;
                margin-bottom: 1rem;
            }
            </style>
            <div class="col-6">
              <div class="col-6"></div>
              <div class="col-6"></div>
            </div>
          </div>
          <div class="container tab-pane fade"
               id="poster">
            <br>
            <h3>پوستر</h3>
                        <div class="row">

{% for poster in posters %}

              <div class="col-3 img-course">
                <div class="card">
                <div class="card-body">
                <h5 class="card-title">{{poster.title}}</h5>
                <p class="card-text">{{poster.discription}}</p>
                </div><img alt="Card image cap"
                     class="card-img-bottom"
                     src={{poster.image.url}}
                onerror="this.src='{%static "images/poster_default.jpg" %}';"
                ></div>
              </div>

{% endfor %}
            </div>

          </div>
          <div class="container tab-pane fade"
               id="menu2">
            <br>
            <h3>شد...</h3>
            <div class="row">
              <div class="col-6"
                   style="text-align: justify; text-justify: inter-word;">
                لورم ایپسوم متن ساختگی با تولید نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای
                کاربردی می باشد. کتابهای در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی خلاقی و فرهنگ پیشرو در زبان ایجاد کرد. در این صورت می توان امید داشت که
                تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
              </div>
              <div class="col-6 img-course"><img alt="Cinque Terre"
                   class="rounded img-course"
                   src="{%static 'images/1601.jpg' %}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <style>
    .multimedia{
        padding-top: 2rem;
    }
    </style>