    
    {% load static %}
     <style>

     </style>
<style>
    .colorize-a{
    background-color: rgba(0, 176, 189,.6);
    }

</style>
    <div class="grey lighten-1 container-fluid">

    <div class="container block_background colorize" id='section_slider'
         style="padding-top: 2rem;">
      <h2 class="text-center" style='color:black'>پژوهش ها</h2><br>
      <div class="carousel slide"
           data-ride="carousel"
           id="demo">
        <!-- Indicators -->
        <ul class="carousel-indicators"></ul><!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active"><img alt="Los Angeles"
               class="slider-item"
               src="{%static 'images/library.jpg'  %}"></div>
          <div class="carousel-item"><img alt="Chicago"
               class="slider-item"
               src="{%static 'images/library.jpg' %}"></div><a class="carousel-control-prev"
               data-slide="prev"
               href="#demo">قبلی</a> <a class="carousel-control-next"
               data-slide="next"
               href="#demo">بعدی</a>
        </div>
        <style>


        .slider-item{
        width: 100%;
        height: 25rem;
           }

        </style>
      </div>
    </div></div>