{% extends "main/WebsiteBase.html" %}
{% block content %}
{% load static %}
<div class='container-fluid'>
<div class='row'>
<div class='col-3'></div>
<div class='col-6'>
<div class='text-center'>
<h3>
درباره ی
</h3>

<img src={% static 'images/logo.png' %}>
<h1 style='color:rgb(0,176,189)'>
موسسه مطالعات علم و دین موازی

</h1>
</div>

<div>
</div>

<p style="text-align: justify; text-justify: inter-word;">
لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.

</p>
</div>
</div>
</div>
{% endblock content %}