{% extends 'main/WebsiteBase.html' %}
{% load static %}

{% block content %}
  {% include 'HomePage/header.html' %}
  {% include 'HomePage/news.html' %}
  {% include 'HomePage/events.html' %}
  {% include 'HomePage/counter.html' %}
  {% include 'HomePage/slider.html' %}
  {% include 'HomePage/multimedia.html' %}
  {% include 'HomePage/feederEmail.html' %}
  {% include 'HomePage/scienceNet.html' %}
  {% include 'HomePage/library.html' %}
  {% include 'HomePage/cooperation.html' %}
{% endblock %}
