
{% extends 'Dashboard/panel.html' %}
{% load crispy_forms_tags %}
{% load jalali_tags %}
{{ form.media }}
{% load static %}
{% block form_title %}


{% load jalali_tags %}


دوره جدید
{% endblock form_title %}
{% block form %}
<style>
#ui-datepicker-div a{
  font-family:'yekan';
  text-align: center;
}
#ui-datepicker-div th{
  font-family:'yekan';
  text-align: center;
}
div.ui-datepicker-title select option{
  font-family:'yekan';
}

</style>

  <script src={% static 'admin/js/django_jalali.min.js' %}></script>
  <link rel="stylesheet" href={% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}>

<script>
‍‍$('.jalali_date-date').datepicker({
        dateFormat: 'yy-mm-dd',
         font-family:'yekan',
        changeMonth: true,
        changeYear: true,
        //showOn: 'button',
        // buttonImage: '../jquery.ui.datepicker.jalali_date/themes/base/images/',
        // buttonImageOnly: true
    });
</script>

  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}


    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.title|as_crispy_field }}
      </div>
    </div>
        <div class="form-row">

          <div class="form-group col-md-6 mb-0">
        {{ form.subtitle|as_crispy_field }}
      </div>
      </div>
    <div class="form-row">
          <div class="form-group col-md-12 mb-0">
        {{ form.summery|as_crispy_field }}
      </div>
      <div class="form-group col-md-12 mb-0">
        {{ form.speaker|as_crispy_field }}
      </div>

      <div class="form-group col-md-4 mb-0">
        {{ form.session|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.holding_loc|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.holding_date|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.audience|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.scientific_level|as_crispy_field }}
      </div>

      <div class="form-group col-md-4 mb-0">
        {{ form.prerequisite|as_crispy_field }}
      </div>
      <div class="form-group col-md-12 mb-0">
        {{ form.table_of_content|as_crispy_field }}
      </div>
    </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.resources|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.image_index|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.tags|as_crispy_field }}
      </div>

    <button type="submit" class="btn btn-primary" style='margin-bottom:1rem'> ثبت </button>
  </form>

{% endblock form %}