
{% extends 'Dashboard/panel.html' %}
{% load crispy_forms_tags %}
{% block form_title %}
انتشارات و پژوهش جدید
{% endblock form_title %}
{% block form %}
  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6 mb-0">
        {{ form.title|as_crispy_field }}
      </div>

    </div>
        <div class="form-row">

          <div class="form-group col-md-6 mb-0">
        {{ form.subtitle|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.subject|as_crispy_field }}
      </div>
      </div>
      
    <div class="form-row">
          <div class="form-group col-md-12 mb-0">
        {{ form.summery|as_crispy_field }}
      </div>
      <div class="form-group col-md-12 mb-0">
        {{ form.full_text|as_crispy_field }}
      </div>


    </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.image_index|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.image_cover|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.publishing_date|as_crispy_field }}
      </div>
      <div class="form-group col-md-2 mb-0">
        {{ form.tags|as_crispy_field }}
      </div>
    <button type="submit" class="btn btn-primary" style='margin-bottom:1rem'> ثبت </button>
  </form>
{% endblock form %}