{#-------------Section-------------#}
<div class="row">
    {#-------------Title of Section-------------#}
    <div class="col-2 grey align-right lighten-1 title-bck">
        <div style="display: table; height: 13rem; overflow: hidden;">
            <div style="display: table-cell; vertical-align: middle;">
                <h2 class="title-of-box">
                    <div>
                        {{ title }}
                    </div>
                </h2>
            </div>
        </div>
    </div>
    {#-------------Desciption of Section-------------#}
    <div class="col-10 desc-bck">
        <p style="text-align: justify; text-justify: inter-word;">
            {{ desc }}
        </p>

    </div>
</div>
{#-------------Section Splitter-------------#}
<div class="row splitter" style="padding-bottom: 1rem;"></div>