{% extends 'main/WebsiteBase.html' %}
{% load static %}


{% block title %}
موازی بلاگ
{% endblock title %}
{% comment %} {% block head %}
  <link href={% static 'css/blog-home.css' %} rel="stylesheet">
    <script src={% static 'vendor/jquery/jquery.min.js' %}></script>
  <script src={% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}></script>
{% endblock head %} {% endcomment %}
  <!-- Bootstrap core CSS -->
  {% comment %} <link href={% static 'css/bootstrap.min.css' %} rel="stylesheet"> {% endcomment %}

  <!-- Custom styles for this template -->

{% block content %}


  <!-- Page Content -->
  <div class="container" >

    <div class="row" styles='background-color: lightblue;'>

      <div class="col-md-3 sticky-top">
        {% include 'blog/main/right_sidebar.html' %}
      </div>
      <div class="col-md-6">
        {% block blog %}
        {% endblock blog %}
      {% comment %} 
      {% if content == 'article' %}
        {% include 'blog/article_post.html' with title='مقاله ها' %}
      {% elif content == 'poster' %}
        {% include 'blog/poster_post.html' with title='پوستر ها' %}
      {% elif content == 'news' %}
        {% include 'blog/news_post.html' with title='اخبار' %}
      {% endif %}
       {% endcomment %}</div>

      <div class="col-md-3 sticky-top">
        {% include 'blog/main/left_sidebar.html' %}
      </div>

    </div>

  </div>



{% endblock content %}
