
        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">جستجو</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="جستجو کنید...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">برو</button>
              </span>
            </div>
          </div>
        </div>


        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">توضیحات</h5>
          <div class="card-body">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. 
          </div>
        </div>
